* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 125vh;
  line-height: 1.5;
  margin: 0;
  margin-top: 80px;
  padding: 30px;
  width: 100%;
}

header img {
  height: 80px;
  max-width: 50%;
}

header {
  align-items: center;
  background-color: #b200ed;
  border-color: blueviolet;
  border-style: double;
  display: flex;
  height: 100px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 90%;
}

.hero-img {
  height: fit-content;
  margin-left: 20px;
  width: 50%;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  font-size: larger;
  font-weight: bold;
  justify-content: space-between;
  margin-right: 50px;
  padding: 10px;
}

main {
  background-color: lightgray;
  color: whitesmoke
}

#hero-banner {
  display: flex;
  /* flex-grow: 1; */
justify-content: space-evenly;
}

#about-me {
  background-color: lightskyblue;
  border-color: darkcyan;
  border-style: double;
  color: whitesmoke;
  display: flex;
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-indent: 1.5em;
  text-wrap: balance;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.card-project {
  background-color: lightskyblue;
  border-color: darkcyan;
  border-style: double;
  padding: 40px;
  text-align: center;
}

.card-row {
  display: flex;
}
.projectsIMG{
  width: 200px;
  height: 200px;
}

h1 {
  margin-right: auto;
  text-indent: 1.5em;
}

.page-section-contact {
  background-color: lightskyblue;
  border-color: darkcyan;
  border-style: double;
  font-size: larger;
  font-weight: bold;
  padding: 40px;
}

form {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: aquamarine;
  border-color: darkcyan;
  border-style: double;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) {

}

@media only screen and (max-width: 780px) {
.cards-container {
flex-direction: column;
}

}

@media only screen and (max-width: 865px){

  li{
    margin-right: 20px;
  }
  h1{
    text-indent: none;
    font-size: 22px;
  }
  header {
    min-width: 90%;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 1400px) {
.cards-container{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 0;
  flex-wrap: wrap;
justify-content: space-evenly;
}
.card-project{
  padding: 15px;
}
}
