* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 15px;
}

header {
  background-color: #b200ed;
  border-color: blueviolet;
  border-style: double;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 20px;
  padding: 20px;
}

#hero-banner {
  overflow: hidden;
}

.hero-img {
  height: 400px;
  width: max-content;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

ul {
  display: flex;
  /* flex-direction: column; */
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  font-size: larger;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px;
}

main {
  background-color: lightgray;
  color: whitesmoke
}

#hero-banner {
  display: flex;
  flex-direction: column;
}

#about-me {
  background-color: lightskyblue;
  border-color: darkcyan;
  border-style: double;
  color: whitesmoke;
  display: flex;
  font-size: larger;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  text-indent: 1.5em;
  text-wrap: balance;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.card-project {
  background-color: lightskyblue;
  border-color: darkcyan;
  border-style: double;
  padding: 40px;
  text-align: center;
}

.card-row {
  display: flex;
}
.projectsIMG{
  width: 200px;
  height: 200px;
}

h1 {

  margin: 0 0 20px;
}

.page-section-contact {
  background-color: lightskyblue;
  border-color: darkcyan;
  border-style: double;
  font-size: larger;
  font-weight: bold;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: aquamarine;
  border-color: darkcyan;
  border-style: double;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .cards-container {
    flex-direction: column;
  }
  ul {
    flex-direction: row;
  }
  
}

@media only screen and (min-width: 1024px) {
  .cards-container{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;  
  }
  .card-project{
    padding: 15px;
  }
  
}

